html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin:0em;
	font-family: 'Contrail One', cursive;
}

header {
	background-color: #2c3950;
}

h1{
	background-color: #1a2230;
	color: white;
	padding: 1em;
	text-align: center;
	margin:0em;
}

div {
	position: relative;
	overflow: hidden;
	width: 320px;
	margin:0 auto;
}

.body {
	width: 320px;
	display:block;
	margin-top: 50px;
}

.brain {
	width: 46px;
	position: absolute;
	right: 138px;
	top: 80px;
	transition: all 200ms linear;
}

.left {
	width: 125px;
	position: absolute;
	left: 35px;
	transition: all 200ms linear;
}

.right {
	width: 125px;
	position: absolute;
	right: 35px;
	transition: all 200ms linear;
}

div:hover .left {
	left: 0px;
}

div:hover .right{
	right: 0px;
}

div:hover .brain{
	top: 35px;
}
